body.modal-open .container-fluid{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);  
}

.container-fluid{
  padding: 0;
}

.jumbotron{
  font-style: bold;
  text-align: center;
}

.display-4{
  font: 5rem 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

#drink-card{
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

.mainCard{
  min-height: 560px;
  margin: 10px 10px;
}

.resultsCard{
  margin: 10px;
  display: none;
}

.recipeCard{
  min-width: 250px;
  margin: 5px;
}

.beer-image {
  height: 200px;
}

#valAlert {
  color: red;
}

.modal-title{
  text-align: center;
}

.close{
  float: right;
}

.modalCard{
  height: 340px;
}

.recipeCard{
  width: 200px;
  cursor: pointer;
}

li{
  cursor: pointer;
}

.scroll {
  max-height: 340px;
  overflow-y: auto;
}
