body.modal-open .supreme-container{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.jumbotron{
  text-align: center;
}
.display-4 .display-tag{
  text-align: center;
}